@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap");
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class*=_icon-]::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
}
body.menu-open {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 81.25rem;
  padding: 0 0.9375rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 55;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
}
@media (min-width: 81.25em) {
  .header {
    padding-top: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (padding-top: clamp( 0.3125rem , 0.006377551rem  +  1.5306122449vw , 1.25rem )) {
    .header {
      padding-top: clamp( 0.3125rem , 0.006377551rem  +  1.5306122449vw , 1.25rem );
    }
  }
  @supports not (padding-top: clamp( 0.3125rem , 0.006377551rem  +  1.5306122449vw , 1.25rem )) {
    .header {
      padding-top: calc(0.3125rem + 0.9375 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .header {
    padding-top: 0.3125rem;
  }
}
@media (min-width: 81.25em) {
  .header {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (padding-bottom: clamp( 0.3125rem , 0.006377551rem  +  1.5306122449vw , 1.25rem )) {
    .header {
      padding-bottom: clamp( 0.3125rem , 0.006377551rem  +  1.5306122449vw , 1.25rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.3125rem , 0.006377551rem  +  1.5306122449vw , 1.25rem )) {
    .header {
      padding-bottom: calc(0.3125rem + 0.9375 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .header {
    padding-bottom: 0.3125rem;
  }
}
.header.scrolled {
  background-color: #fff;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
.header__container {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 81.25em) {
  .header__container {
    gap: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (gap: clamp( 0.9375rem , 0.7538265306rem  +  0.9183673469vw , 1.5rem )) {
    .header__container {
      gap: clamp( 0.9375rem , 0.7538265306rem  +  0.9183673469vw , 1.5rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , 0.7538265306rem  +  0.9183673469vw , 1.5rem )) {
    .header__container {
      gap: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .header__container {
    gap: 0.9375rem;
  }
}
.header__logo {
  height: auto;
}
@media (min-width: 81.25em) {
  .header__logo {
    width: 16.875rem;
  }
}
@media (min-width: 59.375em) and (max-width: 81.25em) {
  @supports (width: clamp( 10.625rem , -6.3392857143rem  +  28.5714285714vw , 16.875rem )) {
    .header__logo {
      width: clamp( 10.625rem , -6.3392857143rem  +  28.5714285714vw , 16.875rem );
    }
  }
  @supports not (width: clamp( 10.625rem , -6.3392857143rem  +  28.5714285714vw , 16.875rem )) {
    .header__logo {
      width: calc(10.625rem + 6.25 * (100vw - 59.375rem) / 21.875);
    }
  }
}
@media (max-width: 59.375em) {
  .header__logo {
    width: 10.625rem;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 60em) {
  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media (max-width: 60em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(159, 159, 164, 0.4039215686);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(0) translate(100%, -100%);
        -ms-transform: scale(0) translate(100%, -100%);
            transform: scale(0) translate(100%, -100%);
    -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    visibility: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.9375rem;
    padding-top: 5rem;
    z-index: 56;
  }
  .menu-open .menu__body {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
        -ms-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
}
@media (min-width: 81.25em) {
  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}
@media (min-width: 62.5em) and (max-width: 81.25em) {
  @supports ((-moz-column-gap: clamp( 1.25rem , -2.9166666667rem  +  6.6666666667vw , 2.5rem )) or (column-gap: clamp( 1.25rem , -2.9166666667rem  +  6.6666666667vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , -2.9166666667rem  +  6.6666666667vw , 2.5rem );
         -moz-column-gap: clamp( 1.25rem , -2.9166666667rem  +  6.6666666667vw , 2.5rem );
              column-gap: clamp( 1.25rem , -2.9166666667rem  +  6.6666666667vw , 2.5rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 1.25rem , -2.9166666667rem  +  6.6666666667vw , 2.5rem )) or (column-gap: clamp( 1.25rem , -2.9166666667rem  +  6.6666666667vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 62.5rem) / 18.75);
         -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 62.5rem) / 18.75);
              column-gap: calc(1.25rem + 1.25 * (100vw - 62.5rem) / 18.75);
    }
  }
}
@media (max-width: 62.5em) {
  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 60em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
    row-gap: 1.75rem;
  }
}
@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    color: #ef233c;
  }
}
.menu__link {
  font-weight: 400;
  position: relative;
  color: #000;
  font-size: 1.125rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.menu__link.active {
  color: #ef233c;
  font-weight: 500;
}
@media (max-width: 60em) {
  .menu__link {
    font-size: 1.75rem;
  }
}

.icon-menu {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 57;
  display: none;
}
@media (max-width: 60em) {
  .icon-menu {
    position: relative;
    width: 1.875rem;
    height: 1.625rem;
    background: none;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .icon-menu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.1875rem;
    background-color: #000000;
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .icon-menu span:nth-of-type(1) {
    top: 0;
  }
  .icon-menu span:nth-of-type(2) {
    top: 0.75rem;
  }
  .icon-menu span:nth-of-type(3) {
    bottom: 0;
  }
}

@media (max-width: 60em) {
  #menu02.active span:nth-of-type(1) {
    -webkit-transform: translateY(0.75rem) rotate(-315deg);
        -ms-transform: translateY(0.75rem) rotate(-315deg);
            transform: translateY(0.75rem) rotate(-315deg);
  }
  #menu02.active span:nth-of-type(2) {
    opacity: 0;
  }
  #menu02.active span:nth-of-type(3) {
    -webkit-transform: translateY(-0.6875rem) rotate(315deg);
        -ms-transform: translateY(-0.6875rem) rotate(315deg);
            transform: translateY(-0.6875rem) rotate(315deg);
  }
}
.animation {
  position: absolute;
  bottom: 0;
  height: 0.3125rem;
  background: #ef233c;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  left: 0;
  width: 0;
  display: none;
}
@media (min-width: 59.375em) {
  .animation.show {
    display: block;
  }
}

.hero {
  min-height: calc(100vh- 6.25rem);
}
@media (min-width: 81.25em) {
  .hero {
    margin-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (margin-top: clamp( 3.125rem , 2.1045918367rem  +  5.1020408163vw , 6.25rem )) {
    .hero {
      margin-top: clamp( 3.125rem , 2.1045918367rem  +  5.1020408163vw , 6.25rem );
    }
  }
  @supports not (margin-top: clamp( 3.125rem , 2.1045918367rem  +  5.1020408163vw , 6.25rem )) {
    .hero {
      margin-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .hero {
    margin-top: 3.125rem;
  }
}
@media (max-width: 47.99875em) {
  .hero {
    min-height: 50vh;
  }
}
.hero__swiper {
  background: rgba(3, 60, 99, 0.836);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .hero__swiper {
    min-height: 50vh;
  }
}
.hero__wrapper {
  height: 100%;
}
.hero__links-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
@media (any-hover: hover) {
  .hero__link:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.hero__link img {
  will-change: transform;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (min-width: 81.25em) {
  .hero__link img {
    width: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (width: clamp( 2.1875rem , 1.881377551rem  +  1.5306122449vw , 3.125rem )) {
    .hero__link img {
      width: clamp( 2.1875rem , 1.881377551rem  +  1.5306122449vw , 3.125rem );
    }
  }
  @supports not (width: clamp( 2.1875rem , 1.881377551rem  +  1.5306122449vw , 3.125rem )) {
    .hero__link img {
      width: calc(2.1875rem + 0.9375 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .hero__link img {
    width: 2.1875rem;
  }
}
@media (min-width: 81.25em) {
  .hero__link img {
    height: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (height: clamp( 2.1875rem , 1.881377551rem  +  1.5306122449vw , 3.125rem )) {
    .hero__link img {
      height: clamp( 2.1875rem , 1.881377551rem  +  1.5306122449vw , 3.125rem );
    }
  }
  @supports not (height: clamp( 2.1875rem , 1.881377551rem  +  1.5306122449vw , 3.125rem )) {
    .hero__link img {
      height: calc(2.1875rem + 0.9375 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .hero__link img {
    height: 2.1875rem;
  }
}

.swiper__button-next, .swiper__button-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1.25rem;
  z-index: 3;
  width: 3.125rem;
  height: 3.125rem;
  background: rgba(87, 87, 87, 0.459);
  -webkit-backdrop-filter: blur(0.625rem);
          backdrop-filter: blur(0.625rem);
}
.swiper__button-next img, .swiper__button-prev img {
  will-change: transform;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .swiper__button-next:hover img, .swiper__button-prev:hover img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (max-width: 47.99875em) {
  .swiper__button-next, .swiper__button-prev {
    display: none;
  }
}
.swiper__button-prev {
  right: auto;
  left: 1.25rem;
}

.slide-hero {
  padding-right: 0.9375rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 81.25em) {
  .slide-hero {
    padding-top: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (padding-top: clamp( 3.125rem , 2.3086734694rem  +  4.0816326531vw , 5.625rem )) {
    .slide-hero {
      padding-top: clamp( 3.125rem , 2.3086734694rem  +  4.0816326531vw , 5.625rem );
    }
  }
  @supports not (padding-top: clamp( 3.125rem , 2.3086734694rem  +  4.0816326531vw , 5.625rem )) {
    .slide-hero {
      padding-top: calc(3.125rem + 2.5 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero {
    padding-top: 3.125rem;
  }
}
@media (min-width: 81.25em) {
  .slide-hero {
    padding-bottom: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (padding-bottom: clamp( 3.125rem , 2.3086734694rem  +  4.0816326531vw , 5.625rem )) {
    .slide-hero {
      padding-bottom: clamp( 3.125rem , 2.3086734694rem  +  4.0816326531vw , 5.625rem );
    }
  }
  @supports not (padding-bottom: clamp( 3.125rem , 2.3086734694rem  +  4.0816326531vw , 5.625rem )) {
    .slide-hero {
      padding-bottom: calc(3.125rem + 2.5 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 81.25em) {
  .slide-hero {
    padding-left: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (padding-left: clamp( 0.9375rem , -1.8176020408rem  +  13.7755102041vw , 9.375rem )) {
    .slide-hero {
      padding-left: clamp( 0.9375rem , -1.8176020408rem  +  13.7755102041vw , 9.375rem );
    }
  }
  @supports not (padding-left: clamp( 0.9375rem , -1.8176020408rem  +  13.7755102041vw , 9.375rem )) {
    .slide-hero {
      padding-left: calc(0.9375rem + 8.4375 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero {
    padding-left: 0.9375rem;
  }
}
.slide-hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.slide-hero__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.slide-hero__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slide-hero__content {
  position: relative;
  color: #fff;
  max-width: 37.5rem;
  z-index: 5;
}
.slide-hero__title {
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5);
  font-weight: 700;
}
@media (min-width: 81.25em) {
  .slide-hero__title {
    font-size: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (font-size: clamp( 1.875rem , 1.568877551rem  +  1.5306122449vw , 2.8125rem )) {
    .slide-hero__title {
      font-size: clamp( 1.875rem , 1.568877551rem  +  1.5306122449vw , 2.8125rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.568877551rem  +  1.5306122449vw , 2.8125rem )) {
    .slide-hero__title {
      font-size: calc(1.875rem + 0.9375 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 81.25em) {
  .slide-hero__title {
    line-height: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (line-height: clamp( 2.3125rem , 1.6390306122rem  +  3.3673469388vw , 4.375rem )) {
    .slide-hero__title {
      line-height: clamp( 2.3125rem , 1.6390306122rem  +  3.3673469388vw , 4.375rem );
    }
  }
  @supports not (line-height: clamp( 2.3125rem , 1.6390306122rem  +  3.3673469388vw , 4.375rem )) {
    .slide-hero__title {
      line-height: calc(2.3125rem + 2.0625 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__title {
    line-height: 2.3125rem;
  }
}
@media (min-width: 81.25em) {
  .slide-hero__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (margin-bottom: clamp( 0.9375rem , 0.631377551rem  +  1.5306122449vw , 1.875rem )) {
    .slide-hero__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.631377551rem  +  1.5306122449vw , 1.875rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.9375rem , 0.631377551rem  +  1.5306122449vw , 1.875rem )) {
    .slide-hero__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.slide-hero__text {
  text-shadow: 2px 2px 5px rgba(16, 14, 14, 0.5);
  line-height: 2.125rem;
}
@media (min-width: 81.25em) {
  .slide-hero__text {
    font-size: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (font-size: clamp( 1.125rem , 0.9821428571rem  +  0.7142857143vw , 1.5625rem )) {
    .slide-hero__text {
      font-size: clamp( 1.125rem , 0.9821428571rem  +  0.7142857143vw , 1.5625rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 0.9821428571rem  +  0.7142857143vw , 1.5625rem )) {
    .slide-hero__text {
      font-size: calc(1.125rem + 0.4375 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 81.25em) {
  .slide-hero__text:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (margin-bottom: clamp( 1.875rem , 1.262755102rem  +  3.0612244898vw , 3.75rem )) {
    .slide-hero__text:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.262755102rem  +  3.0612244898vw , 3.75rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 1.262755102rem  +  3.0612244898vw , 3.75rem )) {
    .slide-hero__text:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.slide-hero__button {
  background-color: #ef233c;
  text-transform: capitalize;
  -webkit-box-shadow: 2px 2px 5px rgba(221, 7, 7, 0.5);
          box-shadow: 2px 2px 5px rgba(221, 7, 7, 0.5);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (min-width: 81.25em) {
  .slide-hero__button {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (padding-top: clamp( 0.625rem , 0.5229591837rem  +  0.5102040816vw , 0.9375rem )) {
    .slide-hero__button {
      padding-top: clamp( 0.625rem , 0.5229591837rem  +  0.5102040816vw , 0.9375rem );
    }
  }
  @supports not (padding-top: clamp( 0.625rem , 0.5229591837rem  +  0.5102040816vw , 0.9375rem )) {
    .slide-hero__button {
      padding-top: calc(0.625rem + 0.3125 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__button {
    padding-top: 0.625rem;
  }
}
@media (min-width: 81.25em) {
  .slide-hero__button {
    padding-bottom: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (padding-bottom: clamp( 0.625rem , 0.5229591837rem  +  0.5102040816vw , 0.9375rem )) {
    .slide-hero__button {
      padding-bottom: clamp( 0.625rem , 0.5229591837rem  +  0.5102040816vw , 0.9375rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.625rem , 0.5229591837rem  +  0.5102040816vw , 0.9375rem )) {
    .slide-hero__button {
      padding-bottom: calc(0.625rem + 0.3125 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__button {
    padding-bottom: 0.625rem;
  }
}
@media (min-width: 81.25em) {
  .slide-hero__button {
    padding-left: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (padding-left: clamp( 0.9375rem , 0.7334183673rem  +  1.0204081633vw , 1.5625rem )) {
    .slide-hero__button {
      padding-left: clamp( 0.9375rem , 0.7334183673rem  +  1.0204081633vw , 1.5625rem );
    }
  }
  @supports not (padding-left: clamp( 0.9375rem , 0.7334183673rem  +  1.0204081633vw , 1.5625rem )) {
    .slide-hero__button {
      padding-left: calc(0.9375rem + 0.625 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__button {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 81.25em) {
  .slide-hero__button {
    padding-right: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (padding-right: clamp( 0.9375rem , 0.7334183673rem  +  1.0204081633vw , 1.5625rem )) {
    .slide-hero__button {
      padding-right: clamp( 0.9375rem , 0.7334183673rem  +  1.0204081633vw , 1.5625rem );
    }
  }
  @supports not (padding-right: clamp( 0.9375rem , 0.7334183673rem  +  1.0204081633vw , 1.5625rem )) {
    .slide-hero__button {
      padding-right: calc(0.9375rem + 0.625 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__button {
    padding-right: 0.9375rem;
  }
}
@media (min-width: 81.25em) {
  .slide-hero__button {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (font-size: clamp( 1rem , 0.9183673469rem  +  0.4081632653vw , 1.25rem )) {
    .slide-hero__button {
      font-size: clamp( 1rem , 0.9183673469rem  +  0.4081632653vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9183673469rem  +  0.4081632653vw , 1.25rem )) {
    .slide-hero__button {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__button {
    font-size: 1rem;
  }
}
@media (any-hover: hover) {
  .slide-hero__button:hover {
    background-color: #585859;
  }
}

.swiper-pagination-bullet {
  width: 1.875rem;
  height: 0.3125rem;
  background-color: #ffffff;
  border-radius: 0;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}
@media (any-hover: hover) {
  .swiper-pagination-bullet:hover {
    background-color: #b8b8c4;
  }
}

.swiper-pagination-bullet-active {
  background-color: #ef233c;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.swiper-slide {
  -webkit-transition: opacity 1.075s ease-in-out !important;
  transition: opacity 1.075s ease-in-out !important;
}