
.hero{
	&__form {
		visibility: hidden;
		position: fixed;
		top: -100%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.5s;
		&.visible {
			top: 50%;
			visibility: visible;
			@media (max-width: toEm(767.98)) {
				top: 40%;
			}
		}
	}
}

.form-hero {
	color: #fff;
	z-index: 1000;
	@include adaptiveValue("padding-top", 50, 20);
	@include adaptiveValue("padding-bottom", 50, 20);
	@include adaptiveValue("padding-left", 40, 15);
	@include adaptiveValue("padding-right", 40, 15);
	@include adaptiveValue("max-width", 500, 290);
	width: 100%;
	background: #000000ad;
	backdrop-filter: blur(toRem(5));
	border-radius: toRem(5);
	box-shadow: 0 0 toRem(20) rgba(255, 0, 0, 0.6);

	&__content {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("row-gap", 45, 25);
	}

	&__title {
		text-transform: capitalize;
		font-weight: 600;
		@include adaptiveValue("font-size", 35, 25);
	}

	&__button {
		@include adaptiveValue("padding-top", 15, 10);
		@include adaptiveValue("padding-bottom", 15, 10);
		@include adaptiveValue("padding-left", 25, 15);
		@include adaptiveValue("padding-right", 25, 15);
		border: toRem(1) solid #be2116;
		@include adaptiveValue("font-size", 20, 16);
		overflow: hidden;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(120deg, transparent, #be2116a3, transparent);
			transform: translateX(-100%);
			transition: all 0.8s;
		}
		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 0 toRem(20) toRem(10) hsla(10, 95%, 44%, 0.5);
			}
			&:hover::before {
				transform: translateX(100%);
			}
		}
	}

	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		input,
		textarea {
			padding: toRem(10);
			font-size: toRem(16);
			width: 100%;
			border: toRem(1) solid #ccc;
			border-radius: toRem(5);
			transition: border 0.25s;
			&:focus {
				border: toRem(1) solid #be2116;
				outline: toRem(1) solid #be2116;
			}
		}
		textarea {
			resize: none;
		}
	}
	&__label {
		@include adaptiveValue("font-size", 16, 14);
		position: absolute;
		top: toRem(12);
		left: toRem(8);
		font-weight: 500;
		transition: all 0.3s ease;
		pointer-events: none;
	}

	&__close {
		position: absolute;
		top: toRem(10);
		right: toRem(20);
		@include adaptiveValue("font-size", 30, 20);
		transition: transform 0.3s;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
.form-hero__input:focus + .form-hero__label,
.form-hero__input:not(:placeholder-shown) + .form-hero__label {
	top: toRem(-18);
	left: toRem(0);
	color: #be2116;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(106, 97, 97, 0.845);
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	&.visible {
		visibility: visible;
		opacity: 1;
	}
}