@use "sass:math";

// Кольори

// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти
@import "_header.scss";

@import "_swiper.scss";

@import "_form.scss";

@import "_hero.scss";

@import "_about.scss";

@import "_service.scss";

@import "_shop.scss";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1440;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

html {
	scroll-behavior: smooth;
}
body {
	font-family: "Roboto";
	&.menu-open {
		overflow: hidden;
		overscroll-behavior: none;
	}
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex-grow: 1;
	}
}

[class*="__container"] {
	margin: 0 auto;
	max-width: toRem(1470);
	padding: 0 toRem(15);
}

.title {
	color: #000;
	@include adaptiveValue("font-size", 35, 24);
	font-weight: 600;
	line-height: toRem(37);
	text-transform: capitalize;
	&--white{
		color: #fff;
	}
	&--margin {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 15);
		}
	}
}
.label {
	padding: toRem(5);
	color: #be2116;
	font-weight: 600;
	@include adaptiveValue("font-size", 18, 16);
	&--margin {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 15, 10);
		}
	}
}
.text {
	@include adaptiveValue("font-size", 20, 18, $widthTo: 950);
	color: #585859;
	opacity: 0.8;
	line-height: toRem(27);
	font-family: "Calibri";
	&--white{
		color: #fff;
	}
}
